const {
    aceVimMap,
    mapkey,
    imap,
    imapkey,
    getClickableElements,
    vmapkey,
    map,
    unmap,
    unmapAllExcept,
    vunmap,
    cmap,
    addSearchAlias,
    removeSearchAlias,
    tabOpenLink,
    readText,
    Clipboard,
    Front,
    Hints,
    Visual,
    RUNTIME
} = api;


// imap <c-[> to "<ESC>"
imap('<ctrl-[>', '<ESC>')
imap('jk', '<ESC>')
imap(',,', "<Esc>");        // press comma twice to leave current input box.
imap(';;', "<Ctrl-'>");     // press semicolon twice to toggle quote.
